#root {
  max-width: 1280px;
  margin: 200px ;
  
  text-align: center;
}


.app__input__container{
  
  max-width: 600px;
  border: 1px solid black;
  display: flex;
  justify-content: center;  
  
 
 }